* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  font-family: Ubuntu;
  justify-content: center;
  min-height: 100vh;
  perspective: 1000px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 30rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0px 20px 20px rgba(0,0,0,0.2),0px 0px 50px rgba(0,0,0,0.75);
}

.ship-card{
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ship-card img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.circle {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    rgba(20, 45, 78, 0.75),
    rgba(0, 110, 255, 0.75)
  );
  position: absolute;
  z-index: 1;
}

.info h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
}

.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

.models {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}

.models button {
  background: none;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  color: #585858;
  cursor: pointer;
  font-weight: bolder;
  height: 3rem;
  width: 8rem;
  padding: 0.5rem 1rem;
  transition: all 0.75s ease-out;
}

button.active {
  background: #585858;
  color: white;
}